[submodule "MetaGPT"]
	path = MetaGPT
	url = https://github.com/geekan/MetaGPT.git
[submodule "interpreter"]
	path = interpreter
	url = https://github.com/OpenInterpreter/open-interpreter.git
[submodule "SWE_bench"]
	path = SWE_bench
	url = https://github.com/princeton-nlp/SWE-bench.git
[submodule "langgraph"]
	path = langgraph
	url = https://github.com/langchain-ai/langgraph.git
